@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

:root {
  --Blue-600: hsl(231, 69%, 60%);
  --Red-400: hsl(0, 94%, 66%);
  --Grey-50: hsl(0, 0%, 97%);
  --Blue-950: hsl(229, 31%, 21%);

  font-family: "Rubik", sans-serif;
  font-size: clamp(0.875rem, 0.5rem + 1vw, 1.25rem);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}